#mainbody {
    margin:20%;
    text-align:center;
    background-color:lightgrey;
    border:solid 1px #808080;
    font-size:1em;
    padding:5%;
}
#bigbody {
    font-size: 2em;
}
body {
    margin:5%;
}