@page "/"

<h1 id="mainbody">@Data</h1>
@implements IDisposable
@using System.Timers;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@code{
    [Parameter]
    public string Data { set; get; } = "aaaaaa";
    Timer Timer1 = new Timer(100);
    protected override void OnInitialized()
    {


        Timer1.Elapsed += Timer_Elapsed;
        Timer1.AutoReset = true;
        Timer1.Enabled = true;
        Timer1.Start();

    }
    private void Timer_Elapsed(object sender, ElapsedEventArgs e)
    {
        DateTime dateTime = new DateTime(DateTime.Now.Year+1, 1, 1, 0, 0, 0, DateTimeKind.Local);
        ;
        Data ="来年まで"+ (dateTime - DateTime.Now).ToString();
        StateHasChanged();
    }
    public void Dispose()
    {
        Timer1.Stop();
        Timer1.Dispose();

    }

}